*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
 
.border {
        border: 1.5px solid transparent ;
    }
    .border:hover {
       border: 1.5px solid white;
}

/* navbar */

.navbar {
    height: 60px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

/* nav div 1 */

.nav_logo {
    float: left;
    width: 180px;
    height: 50px;
    padding: 1px 8px 0px 6px;
    margin: 1px;
}

.logo {
    background-image:url(logo3.png);
    background-size:cover;
    height: 50px;
    width: 100%;
}



/* nav div 2 */

.nav_address {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    padding: 0px 9px;
    margin: 5px 2px 5px 0px;
    }
.add-first {
    font-size: 12px;
    font-weight: 100;
    color: #ccc;
}
.add-second {
    font-size: 14px;
    font-weight:600;
    color: white;
}
.add_icon {
    display: flex;
    align-items: center;
}
 .add-text{
    margin-left: 5px;
} 



/* nav div 3 */

.nav_search {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 10px 4px 10px 3px;
    margin: 0px 0px;
    justify-content: space-evenly;
}
 .search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    }

 .search-select {
    height: 40px;
    width: 60px;
    margin-left: 10px; 
    background-color: rgb(228, 227, 227);
    border: 1px solid rgb(228, 227, 227);
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}
 
 .search-icon {
    background-color: rgb(243, 174, 83);
    height: 38px;
    width: 50px;
    border: 1px solid rgb(243, 174, 83);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
 }
 

 /* nav div 4 */
.nav-signin {
    display: flex;
    align-items: center;
    height: 52px;
    width: 250px;
    
    .signin-1 {
        font-size: 12px;
        color: white;
        margin-left: 10px;
    }
    .signin-2 {
        font-size: 14px;
        font-weight:600;
        color: white;
        margin-left: 10px;
   }
   .nav-signin-icon {
    margin-top: 15px;
    margin-left: 5px;
    color: gray;
    
}
}


/* nav div 5 */
.return-order{
    align-items: center;
    height: 50px;
    width: 100px;

    .return-1 {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        
    }
    .order {
        font-size: 14px;
        font-weight:600;
        color: white;

   }

}

/* nav div 6 */
.nav-cart {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    margin-left: 10px;

    .nav-cart-text {
        font-size: 14px;
        font-weight:600;
        color: white;
        margin-top: 10px;
        margin-left: 5px;
    }
   
}

/* panel div  */
.panel {
    width: 100vw;
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;

}
    .panel-all {
        width: 50px;
        margin-left: 20px;
        font-size: 0.8rem;
        font-weight: 550;
    }
    .panel-ops {
        width: 100%;
       font-size: 0.85rem;
        display: flex;
        justify-content: space-between;
    }
    .panel-ops a {
        display: inline;
        margin-left: 15px;
        font-weight: 549;
    } 
        
    .panel-shop-store {
        width: 200px;
        font-size: 0.8rem;
        align-items: center;
        font-weight: 600;
    
    }

    /* content */
    .content {
        width: 100vw;
        height: 100%;
        background-color: #dedfdefa;
       flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
       
    }
    /* hero section */
    .hero-section {
        width: 1500px;
        height: 600px;
        background-image: url(box1.jpg);
        background-size: cover;

    }

    /* shop section */
    .shop-section {
        width: 1500px;
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #dedfdefa;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
      
    }
    .box {
        width: 355px;
        height: 420px;
        margin: 0px 0px ;
        padding: 20px 0px 15px;
        background-color: white;
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
       a  {
            text-decoration: none;
            color: #007185;
            font-size: 0.8rem;
            font-weight: 600;

       }
       h2 {
        font-size: 21px;
        padding: 0px 20px;
        margin: 0px 0px 10px;
       }
    }
    
        

.row1 {
            margin-top: -550px;
    }

.row2 {
            margin-top: -180px;
    }

.items1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "item1 item2" "item3 item4";
    grid-gap: 15px;
    margin: auto;
    padding:0px 20px;

    .item1 {
        width:150px ;
        height: 100px;
        background-image:url(CleaningTool_1x._SY116_CB563137408_.jpg) ;
        background-size:auto;
    }
    .item2{
        width: 150px;
        height: 100px;
        background-image: url(HomeStorage_1x._SY116_CB563137408_.jpg);
        background-size: cover;
    }
    .item3 {
        width: 150px;
        height: 100px;
        background-image: url(HomeDecor_1x._SY116_CB563137408_.jpg);
        background-size: cover;
    }
    .item4 {
        width: 150px;
        height: 100px;
        background-image: url(Bedding_1x._SY116_CB563137408_.jpg);
        background-size: cover;
    }
}

.items2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "item1 item2" "item3 item4";
    grid-gap: 15px;
    margin: 0px 0px 44px;
    padding:0px 20px;

    .item1 {
        width: 330px;
        height: 145px; 
        grid-row: 1;
        grid-column: span 3;
        background-image:url(cooker.jpg) ;
        background-size:cover;
    }
    .item2{
        width: 100px;
        height: 75px;
        background-image:url(coffee.jpg) ;
        background-size: cover;
    }
    .item3 {
        width: 100px;
        height: 75px;
        background-image:url(potsandpans.jpg) ;
        background-size: cover;
    }
    .item4 {
        width: 100px;
        height: 75px;
        background-image:url(kettles.jpg) ;
        background-size: cover;
    }
}