*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
 
.border {
        border: 1.5px solid transparent ;
    }
    .border:hover {
       border: 1.5px solid white;
}
.navbar {
    height: 60px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

/* nav div 1 */

.nav_logo {
    float: left;
    width: 100px;
    height: 50px;
    padding: 1px 8px 0px 6px;
    margin: 1px;
}

.logo {
    background-image:url(logo3.png);
    background-size:cover;
    height: 50px;
    width: 100%;
}



/* nav div 2 */

.nav_address {
    display: flex;
    align-items: center;
    height: 50px;
    width: 70px;
    padding: 0px 9px;
    margin: 5px 2px 5px 0px;
    }
.add-first {
    font-size: 12px;
    font-weight: 100;
    color: #ccc;
}
.add-second {
    font-size: 14px;
    font-weight:600;
    color: white;
}
.add_icon {
    display: flex;
    align-items: center;
}
 .add-text{
    margin-left: 5px;
} 



/* nav div 3 */

.nav_search {
    width: 880px;
    height: 40px;
    display: flex;
    padding: 10px 4px 10px 3px;
    margin: 0px 10px;
    justify-content: space-evenly;
}
 .search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    }

 .search-select {
    height: 40px;
    width: 60px;
    margin-left: 10px; 
    background-color: rgb(228, 227, 227);
    border: 1px solid rgb(228, 227, 227);
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}
 
 .search-icon {
    background-color: rgb(243, 174, 83);
    height: 38px;
    width: 50px;
    border: 1px solid rgb(243, 174, 83);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
 }
 

 /* nav div 4 */
.nav-signin {
    display: flex;
    align-items: center;
    height: 52px;
    
    .signin-1 {
        font-size: 12px;
        color: white;
        margin-left: 10px;
    }
    .signin-2 {
        font-size: 14px;
        font-weight:600;
        color: white;
        margin-left: 10px;
   }
   .nav-signin-icon {
    margin-top: 15px;
    margin-left: 5px;
    color: gray;
    
}
}


/* nav div 5 */
.return-order{
    align-items: center;
    height: 50px;

    .return-1 {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        
    }
    .order {
        font-size: 14px;
        font-weight:600;
        color: white;

   }

}

/* nav div 6 */
.nav-cart {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 10px;

    .nav-cart-text {
        font-size: 14px;
        font-weight:600;
        color: white;
        margin-top: 10px;
        margin-left: 5px;
    }
   
}

/* ily smmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm ^-^ <3 <3 <3 <3*/
/* thank you */
